<footer class="pt-3 pb-3 mt-5 " style="background: #7A6FB0;">
    <div class="container-fluid" style="max-width: 1800px;">
        <div class="row">
            <div class="col-xl-6 col-md-4">
                <p style="margin:0;font-weight: bold;color:white"><img src="img/logo2.png" class="img-fluid" style="max-width: 50px;">&nbsp;&nbsp;&nbsp;AI Builders</p>
            </div>
            <div class="col-xl-6 col-md-8">
                <p class="pt-3" style="color:white;margin:0" align="right">© 2021 TH National Document OCR (THND OCR) Copninich Kampanart Chaimooltan</p>
            </div>
        </div>
    </div>
</footer>
